.character {
    width: 120px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    background-color: red;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}



h1, h2 {
    display: flex;
    justify-content: center;
}

#start {
    margin-left: auto;
    margin-right: auto;
    
       
    }

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.buttons {
    display: flex;
    justify-content: space-around;
    
}


