
header {
    display: flex;
    justify-content: space-between;
}

.character {
    width: 120px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1vmin;
    padding: 50px;
    border-radius: 25px; 
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(130, 120, 109);
    background: white;
    width:200px;
    height:200px;
    background-color:white;
    box-shadow:0px 0px 0px 5px rgb(130, 120, 109); 
    width: 200px;
    height: 200px;
    background: white;
    outline: 5px solid rgb(202,186,169);
    outline-offset: -5px;  
    
}

.container {
    background-color: rgb(202,186,169);
    border: 1.5vmin solid black;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    padding: 4vmin; 
  
}
    
body{
    padding: 100px 0 50px 0;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right top, #12ac81, #03a784, #00a386, #009e88, #009989, #009589, #009189, #008d89, #008888, #008487, #007f86, #007a84);
       
}

h1, h2 {
    display: flex;
    justify-content: center;                                                                   
    font-family: 'Common Pixel', sans-serif;
                                                                                              
}

#start {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 4px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
    background-color:  rgb(130, 120, 109);
    border-radius: 50px;
    
}

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mochiy Pop One', sans-serif;
   
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mochiy Pop One', sans-serif;
    
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}


#play-again {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
    background-color: rgb(202,186,169);
    border-radius: 10px;
}

#btn-food, #btn-bed, #btn-toy {
    background-color: rgb(202,186,169);
}

#btn-food {
margin-right: 30px;
border-radius: 40px;
}

#btn-bed {
margin-left: 30px;
margin-right: 30px;
border-radius: 40px;
}

#btn-toy {
margin-left: 30px;
border-radius: 40px;
}

audio {
  display: none; 
   
}

#musicButtons {
display: flex;
justify-content: center;
padding: 10px;
border-radius: 10px;

}

#play {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(113, 158, 235)
}

#pause {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(237, 141, 141);;
}

